@model List<ResultUnPaidOrdersDto>
@{
    ViewData["Title"] = "UnPaidOrders";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;	
}

<div class="col-md-20">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Ödenmemiş Siparişler</div>
		</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Masa Adı</th>
						<th scope="col"> </th>
						<th scope="col"></th>
						<th scope="col"> </th>
						<th scope="col"></th>
						<th scope="col">Detay</th>
						
					
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						count++;
						<tr>
							<td>@count</td>
							<td>@item.TableName</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>


							<td><a href="@Url.Action("GetUnPaidOrderDetail", "Order", new { id = item.OrderID})" class="btn btn-primary">Görüntüle</a></td>
							
							
							
						</tr>
					}

				</tbody>
			</table>
		
		</div>
	</div>
</div>




